@font-face {
  font-family: 'MesloLGS NF';
  src: url('../resources/MesloLGS NF Regular.ttf');
}

:root {
  font-family:        "MesloLGS NF", serif;

  /*** color ***/
  --bg_color:         #f0f0f0;
  --main_color_1:     #3498DB;
  --main_color_2:     #e74c3c;
  --text_color:       #0a345b;
  --highlight_color:  #2ecc71;
  --button_color:     #e67e22;

  /*** text size ***/
  --title_size:       24px;
  --button_size:      18px;
  --text_size:        16px;
  --sub_size:         14px;
}

body {
  background:     var(--bg_color);
}

.button {
  border-radius:      10px;
  height:             40px;
  border:             none;
  padding:            5px;
  background:         var(--button_color);
  color:              var(--text_color);
  font-size:          var(--button_size);
  cursor:             pointer;
  transition:         .4s;
}

.button:hover {
  transform:          scale(1.2);
}
